@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--second-color);
}

:root{
    --main-background:black;
    --second-color:white;
    --game-win-color: rgb(19, 149, 19);
    --font-1:'Poppins', sans-serif;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.max{
     max-width: 35vw;
    max-height:5vh ;
}
.hidden{
    display: none;

  
}

body{
    background-color: var(--main-background);
}
.first-main{
margin-top: 10vh;
    /* justify-content: center; */
    /* align-items: center; */
}

.second-main{
    margin-bottom: 0px;
    max-height: 100vh;
    max-width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.grid{
    background-color: var(--main-background);
    text-align:center !important;
    height: 20.5vh;
    width: 15vw;
    padding-top: 2.5%;
    font-weight: 700;
    font-size: 5.5em;
    font-family: var(--font-1);
}
.br{
    border-right: solid var(--second-color) 2.5px;
}
.bb{
    
    border-bottom: solid var(--second-color) 2.5px;
}

.score{
    justify-content: space-between;
    margin: auto;
    font-weight: 600;
    font-size: 2em;
    font-family: var(--font-1);
    margin-top: 20px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
    
  }
  .new-game{
    background: var(--game-win-color);
    color: var(--second-color);
    margin: 0;
    border: 0;
    padding: 15px ;
    font-size: 1rem;
    border-radius: 2px;
    font-weight: 500;
  }